.layout {
    height: 115vh;
    width: 77%;
    position: absolute;
    top: 15%;
    right: 15px;
    background-color: aliceblue;
    border-radius: 15px;
    border: 1px solid black;
}

.heading {
    margin-top: 25px;
    margin-left: 35px;
}

.square {
    height: 180px;
    width: 97%;
    margin-top: 20px;
    background-color: aliceblue;
    position: absolute;
    right: 25px;
    display: flex;
    justify-content: space-evenly;

}

.profit-col {
    background-color: whitesmoke;
    border-radius: 9px;
    border: 1px solid black;
}

.nooftrade {
    background-color: whitesmoke;
    border-radius: 9px;
    border: 1px solid black;
}

.profitperc {
    background-color: whitesmoke;
    border-radius: 9px;
    border: 1px solid black;
}

.col-head{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.chart{
    height: 350px;
    width: 97%;
   
    position: absolute;
    bottom: 30px;
    right: 25px;
    display: flex;
    justify-content:space-around
    
}

.chart-head{
    margin-left: 25px;
    margin-top: 15px;
}
.line-chart{
    background-color: antiquewhite;
    height: 270px;
}

.pie-chart{
    background-color:darkcyan;
    height: 270px;
}