<div class="layout">
    <div class="heading">
        <h5>Dashboard</h5>
    </div>
    <div class="square row">
        <div class="col-sm-3 profit-col">
            <div class="col-head">
                <h5>Profit</h5>
            </div>
            <div class="profit">
                <h1>{{trade}}</h1>
            </div>

        </div>
        <div class="col-sm-3 nooftrade">
            <div class="col-head">
                <h5>No. of Trades</h5>
            </div>
            <div class="tradecount">
                <h1>{{tradecount}}</h1>
            </div>
        </div>
        <div class="col-sm-3 profitperc">
            <div class="col-head">
                <h5>Profit %</h5>
            </div>
        </div>
    </div>
    <div class="chart row">
        <div class="chart-head">
            <h5>Charts</h5>
        </div>
        <div class="col-sm-6 line-chart  sum1">

        </div>
        <div class="col-sm-5 pie-chart sum">

        </div>
    </div>
</div>