<div>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="layout">
        <div class="heading">
            <h3>Add Your Trade</h3>
        </div>
        <form [formGroup]="tradeformgroup!" (ngSubmit)="onSubmit()">
        <div class="form">
            <div class="row d-flex ">
                <div class="col-sm-6">
                    <!-- <input type="text" placeholder="Stock Name" formControlName="journalId" hidden/> -->
                    <!-- <input type="text" placeholder="Stock Name" formControlName="UserName" hidden /> -->
                    <input type="text" placeholder="Stock Name" formControlName="StockName" />
                    <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('StockName')!.invalid && tradeformgroup?.get('StockName')!.touched)"><small>*Stock Name Required</small></span>
                </div>
                <div class="col-sm-6">
                    <!-- <input type="text" placeholder="order type" /> -->
                    <select value="OrderType" class="select" formControlName="OrderType">
                        <option value="" hidden selected>Order Type</option>
                        <option value="Long">Long</option>
                        <option value="short">Short</option>
                    </select>  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('OrderType')!.invalid && tradeformgroup?.get('OrderType')!.touched)"><small>*Order Type Required</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="number" placeholder="Quantity" formControlName="Quantity" />  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('Quantity')!.invalid && tradeformgroup?.get('Quantity')!.touched)"><small>*Quantity Required</small></span>
                </div>
                <div class="col-sm-6">
                    <input type="number" placeholder="Entry Price" formControlName="EntryPrice" />  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('EntryPrice')!.invalid && tradeformgroup?.get('EntryPrice')!.touched)"><small>*Entry Price Required</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text"  onfocus="(this.type='datetime-local')" placeholder="Entry Time"formControlName="EntryTime" />  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('EntryTime')!.invalid && tradeformgroup?.get('EntryTime')!.touched)"><small>*Entry time Required</small></span>
                </div>
                <div class="col-sm-6">
                    <input type="number" placeholder="Close Price" formControlName="ClosePrice" />  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('ClosePrice')!.invalid && tradeformgroup?.get('ClosePrice')!.touched)"><small>*Close Price Required</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" onfocus="(this.type='datetime-local')" placeholder="Close Time" formControlName="CloseTime" />  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('CloseTime')!.invalid && tradeformgroup?.get('CloseTime')!.touched)"><small>*Close Time Required</small></span>
                </div>
                <div class="col-sm-6">
                    <input type="number" placeholder="Profit or Loss" formControlName="ProfitorLoss"/>  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('ProfitorLoss')!.invalid && tradeformgroup?.get('ProfitorLoss')!.touched)"><small>*Profit or LossRequired</small></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea class="journal" placeholder="Reason for taking this trade!!!" formControlName="JournalTrade"></textarea>  <br>
                    <span class="text-danger" *ngIf="(tradeformgroup?.get('JournalTrade')!.invalid && tradeformgroup?.get('JournalTrade')!.touched)"><small>*Required</small></span>
                </div>
            </div>
            <div class="row">
                <div class="button">
                    <button class="btn btn-success" >Submit</button>
                </div>
            </div>
            
        </div>
    </form>
    </div>
</div>

