    <div class="container-fluid cont">
        <div class="layout">
            <div class="left">
                <div class="form-layout">
                    <div class="form-container">
                        <div class="logo"></div>
                        <div class="title">
                            <h1>Register</h1>
                        </div>
                        <div class="form">
                            <form [formGroup]="Userformgroup" (ngSubmit)="onSubmit()">
                            <div class="username">
                                <input type="text" placeholder="Username" formControlName="UserName">
                                <!-- <span class="text-danger" *ngIf="(Userformgroup.get('UserName')!.invalid && Userformgroup.get('UserName')!.touched)">Required</span> -->
                            </div>
                            
                            <div class="Name">
                                <input type="text" placeholder="Name" formControlName="Name" >
                            </div>
                            <div class="email">
                                <input type="email" placeholder="Email" formControlName="Email" >
                            </div>
                            <div class="password">
                                <input type="password" placeholder="Password" formControlName="Password" >
                            </div>
                            <div class="PhoneNumber">
                                <input type="text" placeholder="Mobile No." formControlName="PhoneNumber">
                            </div>
                            <button class="form-button" type="submit">Register</button>
                        </form>
                        </div>
                   
                        <div class="signup-link">
                            <p>Already have an account?<a routerLink="/login">Login here!</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
            </div>
        </div>
    </div>