<div class="layout">
    <div class="heading">
        <h6>Charts</h6>
    </div>
    <div class="chart">
        <div class="tradingview-widget-container">
            <div id="tradingview_e2952"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
                new TradingView.widget(
                    {
                        "width": 1150,
                        "height": 600,
                        "symbol": "BSE:ADANIENT",
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "light",
                        "style": "1",
                        "locale": "en",
                        "toolbar_bg": "#f1f3f6",
                        "enable_publishing": false,
                        "withdateranges": true,
                        "hide_side_toolbar": false,
                        "allow_symbol_change": true,
                        "watchlist": [
                            "OANDA:EURUSD",
                            "OANDA:GBPUSD",
                            "OANDA:GBPJPY",
                            "OANDA:AUDUSD",
                            "OANDA:USDJPY",
                            "OANDA:AUDUSD",
                            "OANDA:NZDUSD",
                            "BSE:ADANIENT",
                            "BSE:ADANIPORTS",
                            "BSE:APOLLOHOSP",
                            "BSE:ASIANPAINT",
                            "BSE:AXISBANK",
                            "BSE:BAJAJFINSV",
                            "BSE:BAJFINANCE",
                            "BSE:BHARTIARTL",
                            "BSE:BPCL",
                            "BSE:BRITANNIA",
                            "BSE:CIPLA",
                            "BSE:COALINDIA",
                            "BSE:DIVISLAB",
                            "BSE:DRREDDY",
                            "BSE:EICHERMOT",
                            "BSE:GRASIM",
                            "BSE:HCLTECH",
                            "BSE:HDFC",
                            "BSE:HDFCBANK",
                            "BSE:HDFCLIFE",
                            "BSE:HEROMOTOCO",
                            "BSE:HINDALCO",
                            "BSE:HINDUNILVR",
                            "BSE:ICICIBANK",
                            "BSE:INDUSINDBK",
                            "BSE:INFY",
                            "BSE:ITC",
                            "BSE:JSWSTEEL",
                            "BSE:KOTAKBANK",
                            "BSE:LT",
                            "BSE:MARUTI",
                            "BSE:NESTLEIND",
                            "BSE:NTPC",
                            "BSE:ONGC",
                            "BSE:POWERGRID",
                            "BSE:RELIANCE",
                            "BSE:SBILIFE",
                            "BSE:SBIN",
                            "BSE:SUNPHARMA",
                            "BSE:TATACONSUM",
                            "BSE:TATAMOTORS",
                            "BSE:TATASTEEL",
                            "BSE:TCS",
                            "BSE:TECHM",
                            "BSE:TITAN",
                            "BSE:ULTRACEMCO",
                            "BSE:UPL",
                            "BSE:WIPRO"
                        ],
                        "details": true,
                        "container_id": "tradingview_e2952"
                    }
                );
            </script>
        </div>
    </div>
</div>
