<div class="layout">
    <div class="heading">
        <h5>Dashboard</h5>
    </div>
    <div class="square row">
        <div class="col-sm-3 profit-col">
            <div class="col-head">
                <h5>Profit</h5>
            </div>
            <div class="profit">
                <h1>₹{{trade}}</h1>
            </div>

        </div>
        <div class="col-sm-3 nooftrade">
            <div class="col-head">
                <h5>No. of Trades</h5>
            </div>
            <div class="tradecount">
                <h1>{{tradecount}}</h1>
            </div>
        </div>
        <div class="col-sm-3 profitperc">
            <div class="col-head">
                <h5>Profit %</h5>
            </div>
            <div class="percent">
                    <h1>{{percent}}%</h1>
                </div>
        </div>
    </div>
    <div class="chart row">
        <div class="chart-head">
            <h5>Profit & Loss </h5>
        </div>
        <div class="col-sm-7 line-chart  sum1">
            <div id="divChart">
                <div style="display: block;">
                    <canvas baseChart id="line-chart-canvas"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            class="chart-container"
                            >
                    </canvas>
                  </div>
            </div>
        </div>
        
    </div>
</div>