
table{
    font-size: small;
}
.layout {
    height: 115vh;
    width: 77%;
    position: absolute;
    top: 15%;
    right: 15px;
    background-color: aliceblue;
    border-radius: 15px;
    border: 1px solid black;
}
.heading {
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 15px;
}

.view{
    height: auto;
    width: 96%;
    position:absolute;
    right: 10px;

   
}

table{
     background-color:transparent;
}
tbody td{
    background-color:transparent;
}